<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Extent Reports Implementation Test Suite" >
    <listeners>
        <listener class-name="br.com.brunofelice.extentreports.utils.listeners.TestListener"/>
        <listener class-name="br.com.brunofelice.extentreports.utils.listeners.AnnotationTransformer"/>
    </listeners>
    <test name="BaseTest" verbose="2">
        <classes>
            <class name="br.com.brunofelice.extentreports.tests.BaseTest"/>
        </classes>
    </test>
</suite>